<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../img/logo-reciclar-removebg-preview.png"
      type="image/x-icon"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Contacto</title>
  </head>
  <body>
    <main>
      <section
        class="h-[200px] relative nosotros-sections bg-[url(../img/nosotros/spotgreen.jpg)] bg-cover bg-center bg-no-repeat flex pt-22"
      >
        <div class="absoulte w-full h-full top-0 bg-[rgba(F)] z-10"></div>
      </section>
    </main>
  </body>
</html>
