<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco-Memo</title>
    <link rel="stylesheet" href="../styles/Eco-Memo.css">
    <script defer src="../js/Eco-Memo.js"></script>
</head>
<body>
    <h1>Eco-Memo</h1>
    <div class="points_section">
        <p>Puntos: </p><span class ="points"id="points">1000</span>
    </div>
    <div class="board">
        <div class="card"><img src="../img/Eco-Memo/Carton.jpg" alt=""></div>
        <div class="card"><img src="../img/Eco-Memo/Carton.jpg" alt=""></div>
        <div class="card"><img src="../img/Eco-Memo/Carton.jpg" alt=""></div>
        <div class="card"><img src="../img/Eco-Memo/Carton.jpg" alt=""></div>
        <div class="card"><img src="../img/Eco-Memo/Carton.jpg" alt=""></div>
        <div class="card"><img src="../img/Eco-Memo/Carton.jpg" alt=""></div>
        <div class="card"><img src="../img/Eco-Memo/Carton.jpg" alt=""></div>
        <div class="card"><img src="../img/Eco-Memo/Carton.jpg" alt=""></div>
        <div class="card"><img src="../img/Eco-Memo/Carton.jpg" alt=""></div>
        <div class="card"><img src="../img/Eco-Memo/Carton.jpg" alt=""></div>
    </div>
</body>
</html>