<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/perfil.css">

    <title>Perfil</title>
</head>
<body>
    <div class="perfil-cont">
        <div class="perfil-datos-cont">
            <div class="foto-perfil-cont">
                <img class="foto-perfil" src="../img/img-perfil/sin foto 2.png" alt="foto de perfil del usuario">
                <div class="btn-modificar modif-img-perfil"></div>
            </div>

            <div class="usuario-info-cont">
                <div class="nombre-cont contenido-cont">
                    <h3>Usuario</h3>
                    <div class="nombre-usuario">Andres C.</div>
                    <div class="btn-modificar modif-nombre"></div>
                    <!-- ver como implemetar el btn para modificar el nombre -->
                </div>

                <div class="puntos-cont contenido-cont">
                    <h3>Puntos</h3>
                    <div class="puntos-usuario">1000</div>
                </div>
            </div>
        </div>

        <div class="mapa-cont">
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d210146.75955271677!2d-58.5981081473618!3d-34.61571293339003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires%2C%20CABA!5e0!3m2!1ses-419!2sar!4v1698012999677!5m2!1ses-419!2sar"></iframe>
            <div class="icono-ampliar">
                <img src="../img/img-perfil/papelera-de-reciclaje.png" alt="icono tachos de reciclaje">
                <div class="ampliartxt">Ampliar</div>
            </div>
        </div>
    </div>
</body>
</html>