<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/voluntariados.css">
</head>
<body>
    <h1>Voluntariados</h1>

    <!-- Grilla -->
<div class="grid-container">

    <!-- Grilla recolección-->

  <div class="grid-item">
    <div class="grid-title">
      <h2>Recolección de reciclables</h2>
      <a href="enlace1" class="button">Inscribirse</a>
    </div>
    <div class="grid-row">
      <div class="grid-item-content">
        <img src="/components/img/img-voluntariados/Img1.jpg" alt="Imagen 1">
        <div class="text-overlay">
          <h3>Limpiemos juntos</h3>
          <p><b>Fecha: 15 de enero de 2024</b><br>
            Unite a nuestro voluntariado "Barrer por el Medio Ambiente" y sé parte del cambio positivo que nuestro planeta necesita. Este sábado, nos encontraremos en el Parque Verde a las 9:00 a.m. para iniciar una jornada de recolección de reciclables. Trabajaremos juntos para limpiar la zona y promover la importancia de mantener nuestro entorno libre de desechos.</p>
        </div>
      </div>

      <div class="grid-item-content">
        <img src="/components/img/img-voluntariados/Img2.jpg" alt="Imagen 2">
        <div class="text-overlay">
          <h3>Barrer por el medio ambiente</h3>
          <p><b>Fecha: 28 de diciembre de 2023</b><br>

            Este Día de la Tierra, únase a nuestro voluntariado "Limpiemos el Futuro" y contribuyamos activamente al bienestar de nuestro planeta. Nos reuniremos en la Plaza Central a las 10:00 a.m. para embarcarnos en una emocionante jornada de recolección de reciclables y limpieza ambiental.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Grilla recolección-->


  <!-- Grilla reforestación-->
  <div class="grid-item">
    <div class="grid-title">
      <h2>Reforestación</h2>
      <a href="enlace2" class="button">Inscribirse</a>
    </div>

    <div class="grid-row">
      <div class="grid-item-content">
        <img src="/components/img/img-voluntariados/Img3.jpg" alt="Imagen 3">
        <div class="text-overlay">
          <h3>Plantando el futuro</h3>
          <p> <b>Fecha: 20 de diciembre de 2023</b><br>
            Nos reuniremos en el Parque Verde a las 9:00 a.m. para embarcarnos en una jornada dedicada a la reforestación y al cuidado del medio ambiente. Plantaremos una variedad de árboles autóctonos para contribuir a la salud de nuestro ecosistema local.¡Ven con tus amigos y familiares y hagamos juntos una diferencia positiva!</p>
        </div>
      </div>

      <div class="grid-item-content">
        <img src="/components/img/img-voluntariados/Img4.jpg" alt="Imagen 4">
        <div class="text-overlay">
          <h3>Un bosque a la vez</h3>
          <p>
            <b>Fecha: 15 de enero de 2024</b><br>
            
            Nos encontraremos en la Plaza Central a las 10:00 a.m. con la misión de plantar árboles y fomentar la importancia de la reforestación para combatir el cambio climático. Cada árbol plantado es una contribución valiosa hacia un entorno más saludable. ¡Únete a nosotros y forma parte de esta iniciativa positiva para cuidar nuestro planeta!</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Grilla reforestación-->


</div>
<!-- Grilla -->

</body>
</html>
