body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff9db;
}

h1,
h2 {
    font-size: 36px;
    font-weight: bold;
    color: #4CAF50;
    text-align: center;
    margin-bottom: 20px;
}

.tablero {
    display: flex;
    background-color: brown;
}