.points_section {
  background-color: #16a34a;
  border-radius: .5rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.wrap {
  position: relative;
  height: 100vh;
  min-height: 500px;
  padding-bottom: 20px;
}


.game {
  transform-style: preserve-3d;
  perspective: 500px;
  min-height: 100vh;
  height: 100vh;
  position: relative;
}

.card-memo {
  float: left;
  width: 25%;
  height: 30%;
  padding: 5px;
  text-align: center;
  display: block;
  perspective: 500px;
  position: relative;
  cursor: pointer;
  z-index: 50;
  -webkit-tap-highlight-color: transparent;
}

.inside {
  width: 100%;
  height: 100%;
  display: block;
  transform-style: preserve-3d;
  transition: 0.4s ease-in-out;
  /* background-color: #F2BD1D; */
  background-color: #bcffcc;
  border-radius: .3rem;
}

.card-memo .inside.picked,
.card-memo .inside.matched {
  transform: rotateY(180deg);
}

.card-memo .inside.matched {
  animation: matchAnim 1s ease-in-out;
  animation-delay: 0.4s;
}

@keyframes matchAnim {
  0% {
    background: #bcffcc;
  }

  100% {
    background: white;
  }
}

.card-memo .front,
.card-memo .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 20px;
  border-radius: .5rem;
}

.card-memo .front img,
.card-memo .back img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  height: 100%;
}

.card-memo .front {
  transform: rotateY(-180deg);
}

.card-memo .back {
  transform: rotateX(0);
  /* Fix Firefox backface-visibility */
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal {
  position: relative;
  width: 500px;
  height: 400px;
  max-height: 90vh;
  max-width: 90vw;
  min-height: 380px;
  margin: 0 auto;
  background: #bcffcc;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px 10px;
  text-align: center;
  border-radius: .5rem;
}


.winner {}

.restart {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  border-radius: .5rem;
  padding: .3rem;
  min-width: 4rem;
}

.modal .winner {
  font-size: 5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #16a34a;
}


.modal .restart {
  font-family: Anton, sans-serif;
  margin: 30px auto;

}

@media (max-width: 480px) {
  .modal .winner {
    font-size: 60px;
  }

  .card {
    width: 43%;
    min-height: 2rem;
  }
}

@media (max-width: 800px) {
  .card {
    width: 50%;
    height: 30%;
    height: 16.666%;
  }

  .front,
  .back {
    padding: 5px;
  }

  .back {
    padding: 10px;
  }
}

.tracking-in-expand-fwd-top {
  animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* --------------- Animacion de texto modal --------------- */

@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
