/* Cards */
.card {
  width: 60%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #fff;
  margin-bottom: 5rem;
  border-radius: 10px;
}

.border {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #042900;
  opacity: 0.5;
  left: -7px;
  top: -7px;
  border-radius: 10px;
}

.card h2 {
  position: relative;
  padding: 230px 0px 30px 10px;
  width: 90%;
}

.imagen-1 {
  width: 55%;
  height: 43%;
  position: absolute;
  top: -6%;
  left: -6%;
  border-radius: 10px;
  box-shadow: 1px 1px 20px black;
}

.imagen-2 {
  width: 55%;
  height: 44%;
  position: absolute;
  top: -6%;
  left: 50%;
  border-radius: 10px;
  box-shadow: 1px 1px 20px black;
}

.card-color-0 {
  background-color: #3a722e;
}

.card-color-1 {
  color: #042900;
  background-color: #90b77d;
}

.overlay {
  animation: overlayIn 0.2s ease-in;
}

@keyframes overlayIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
