*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.cont-form{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-detalle{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.titulo-form{
    font-size: 24px;
    /* color: #333; */
    color: #4CAF50;
    text-align: center;
    margin-bottom: 20px;
}

.user-name, .password, .confirm-password, .name ,.last-name{
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

.btn-form{
    width: 100%;
    background-color: #4CAF50;
    /* 24563f */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.btn-form:hover{
    background-color: #0f9d58;
}

.link-form{
    margin-top: 20px;
    text-align: center;
}

.link-form:hover{
    text-decoration: underline;
}

#register-form{
    display: none;
}

.cont-img-detalle {
    width: 100%;
    min-height: 100%;
}

.cont-img-detalle img{
    width: 100%;
}

.decoracion{
    width: 2000px;
    height: 2000px;
    background-color: #4CAF50;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    z-index: -9999;
    transition: opacity 1s ease;
}

.esfera-superior-izquierda{
    z-index: -9999;
    animation: esfera-izquierda 1s ease forwards;
}

.esfera-inferior-derecha{
    z-index: -9999;
    animation: esfera-deracha 1s ease forwards;
}

.difuminado{
    animation: difuminado 1s ease forwards;
}

.mensaje-exito{
    padding: 20px;
    position: absolute;
    z-index: 999;
    bottom: 5%;
    right: 5%;
    margin: auto;
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: rgba(5, 181, 5, 0.438);
    border-radius: 5px;
}

.mensaje-error{
    padding: 20px;
    position: absolute;
    z-index: 999;
    bottom: 5%;
    right: 5%;
    margin: auto;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(223, 24, 24, 0.596);
}


@keyframes esfera-izquierda{
    from{
        top: 0;
        left: 0;
        opacity: 0;
        transition: top 0.5s ease, left 0.5s ease, opacity 1s ease;
    }

    to{
        top: -125%;
        left: -70%;
        opacity: 1;
        transition: top 0.5s ease, left 0.5s ease, opacity 1s ease;
    }
}

@keyframes esfera-deracha {
    from{
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: bottom 0.5s ease, right 0.5s ease, opacity 1s ease;
    }

    to{
        bottom: -125%;
        right: -70%;
        opacity: 1;
        transition: bottom 0.5s ease, right 0.5s ease, opacity 1s ease;
    }
}


@keyframes difuminado {
    0%{
        opacity: 0;
        transition: opacity 1s ease;
    }

    50%{
        opacity: 0.5;
        transition: opacity 1s ease;
    }

    100%{
        opacity: 1;
        transition: opacity 1s ease;
    }
}


@media screen and (max-width: 425px){

    .cont-detalle{
        display: none;
    }

    .cont-form{
        width: 90%;
    }

    .decoracion{
        width: 1500px;
        height: 1500px;
    }

}