.swiper-button-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; /* Ajusta este valor según sea necesario */
}

.swiper-button-next,
.swiper-button-prev {
  width: 50px; /* Ajusta el ancho según tus necesidades */
  height: 50px; /* Ajusta la altura según tus necesidades */
  background-color: #000; /* Ajusta el color de fondo según tus necesidades */
  color: #fff; /* Ajusta el color del texto según tus necesidades */
  border-radius: 50%; /* Ajusta el radio del borde según tus necesidades */
}
